#This file is describes all required environment variables for EduGators.
#It does not provide the actual secret values. Please contact the developer
#team to acquire them.

PORT=3000
POSTGRES_PORT=5432
DATABASE_URL=postgres://postgres:password@edugators-db:5432/postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password #Please replace with correct password
POSTGRES_DB=edugators
POSTGRES_HOST=edugators-db
SIGNING_KEY=abc123 #Please replace with correct signing key
