#This file is describes all required environment variables for EduGators.
#It does not provide the actual secret values. Please contact the developer
#team to acquire them.

PORT=3000
DATABASE_URL=postgres://postgres:password@edugators-db:5432/postgres
POSTGRES_PASSWORD=bdsbf # replace with correct password
SIGNING_KEY=abc123 # replace with correct signing key
