<div id="error-modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg"></h3>
        <p class="py-4" id="error-message"></p>
        <div class="modal-action">
            <label for="error-modal" class="btn">Close</label>
        </div>
    </div>
</div>


<script>

function showErrorModal(message) {
  const modal = document.getElementById('error-modal');
  const errorMessageDiv = document.getElementById('error-message');
  errorMessageDiv.textContent = message;
  modal.classList.add('modal-open');
}

document.addEventListener('DOMContentLoaded', () => {
  const modal = document.getElementById('error-modal');
  const openModalBtn = document.getElementById('open-modal-btn');

  window.addEventListener('click', (event) => {
    if (event.target === modal) {
      modal.classList.remove('modal-open');
    }
  });
});
</script>