<div id="error-modal" class="modal">
  <div class="modal-box bg-gray-200 text-black dark:text-white dark:bg-gray-700">
      <h3 class="font-bold text-lg"></h3>
      <p class="py-4" id="error-message"></p>
      <div class="modal-action">
          <!-- Added an ID to the label for easy targeting -->
          <label for="error-modal" class="btn" id="close-modal-btn">Close</label>
      </div>
  </div>
</div>



<script>
function showErrorModal(message) {
  const modal = document.getElementById('error-modal');
  const errorMessageDiv = document.getElementById('error-message');
  errorMessageDiv.textContent = message;
  modal.classList.add('modal-open');
}

document.addEventListener('DOMContentLoaded', () => {
  const modal = document.getElementById('error-modal');
  const closeModalBtn = document.getElementById('close-modal-btn');

  closeModalBtn.addEventListener('click', () => {
    modal.classList.remove('modal-open');
  });

  window.addEventListener('click', (event) => {
    if (event.target === modal) {
      modal.classList.remove('modal-open');
    }
  });
});
</script>