<aside class="drawer w-64 z-10 bg-gray-200 dark:bg-gray-700">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content absolute left-[50%] top-[50%]">
    </div>
    <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 min-h-full text-2xl font-semibold bg-gray-200 text-black dark:bg-gray-700 dark:text-white">
            <li class="mb-2 font-semibold text-xl flex flex-col items-center justify-center h-full">
                <ion-icon class="text-black dark:text-white" style="font-size: 64px" name="person-circle-outline"></ion-icon>
                <%= username %>
            </li>
        <% if (role === "admin") { %>
            <li><a href="/home"><ion-icon name="school-outline"></ion-icon>Home</a></li>
            <li><a href="/create"><ion-icon name="school-outline"></ion-icon>Create Entities</a></li>
            <li><a href="/delete"><ion-icon name="school-outline"></ion-icon>Delete Entities</a></li>
            <li><a href="/createCourse"><ion-icon name="add-circle-outline"></ion-icon>Create Course</a></li>
        <% } else {%>
            <li><a href="/home"><ion-icon name="school-outline"></ion-icon>Courses</a></li>
        <% } %>

            <li class="flex flex-col mt-80 items-center justify-center h-full w-full">
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</aside>

<style>
    .drawer {
        position: fixed;
        left: -100%;
        transition: left 0.3s ease;
        z-index: 10;
    }

    #my-drawer:checked ~ .drawer {
        left: 0;
    }
</style>
