<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Course</title>
    <%- include( '../components/styling' ) %>
</head>
<body>
    <%- include( '../components/header' ) %>
    <%- include( '../components/sidebar' ) %>
    <main class="h-screen flex justify-center items-center bg-gray-100 dark:bg-gray-800">
        <div class="container mx-auto p-8">
            <div class="card p-5">
                <form action="/createCourse" method="post">
                    <div class="form-control mb-4">
                        <label class="label">
                            <span class="label-text">Course Name</span>
                        </label>
                        <input type="text" placeholder="Course Name" class="input input-bordered w-full" name="courseName" required>
                    </div>

                    <div class="form-control mb-4">
                        <label class="label">
                            <span class="label-text">Description</span>
                        </label>
                        <input type="text" placeholder="Description" class="input input-bordered w-full" name="description" required>
                    </div>

                    <div class="form-control mb-4">
                        <label class="label">
                            <span class="label-text">Course Start Date</span>
                        </label>
                        <input type="date" class="input input-bordered w-full" name="courseStart" required>
                    </div>

                    <div class="form-control mb-4">
                        <label class="label">
                            <span class="label-text">Course End Date</span>
                        </label>
                        <input type="date" class="input input-bordered w-full" name="courseEnd" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-full">Create Course</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
