<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="dist/style.css">
    <script src="scripts/myscripts.js"></script>
</head>
<body class="h-screen flex justify-center items-center">

<div class="p-8 rounded-xl shadow-md w-96">
    <h1 class="text-2xl font-bold mb-4">EduGators</h1>
</div>

</body>
</html>
