<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="dist/style.css">
</head>

<body class="h-screen flex justify-center items-center bg-gray-950">

    <div class="p-8 rounded-xl shadow-md w-96 bg-gray-800 text-white">
        <h1 class="text-2xl font-bold mb-4">EduGators</h1>

        <div class="form">
            <div class="mb-4">
                <label class="block text-sm font-medium mb-2" for="username">Username</label>
                <input class="w-full p-2 border rounded text-black" type="text" name="username" id="username" required>
            </div>

            <div class="mb-4">
                <label class="block text-sm font-medium mb-2" for="password">Password</label>
                <input class="w-full p-2 border rounded text-black" type="password" name="password" id="password" required>
            </div>

            <div class="mb-4">
                <label class="block text-sm font-medium mb-2" for="role">Role</label>
                <select class="select select-bordered w-full max-w-xs text-black" name="role" id="role" required>
                    <option disabled="disabled" selected="selected" value="">Choose a role</option>
                    <option value="admin">Admin</option>
                    <option value="teacher">Teacher</option>
                    <option value="student">Student</option>
                </select>
            </div>

            <button id="login" type="submit" class="btn btn-primary w-full">Login</button>
            <div id="result" class="w-full text-center"></div>
        </div>
    </div>

    <script src="scripts/login.js"></script>
</body>
</html>
