<!DOCTYPE html>
<html lang="en">
<!-- Course Cards -->
<div class="grid grid-cols-3 gap-6 mb-8">
    <% courses.forEach(function (course) { %>
    <a href="<%=course.path %>" class="block transition-colors duration-300 hover:bg-gray-100 rounded-lg">
        <div class="p-4 bg-white shadow-md rounded-lg">
            <img src="<%=course.imgPath%>>" class="w-full h-40 rounded-t-lg" alt="Course Image">
            <div class="pt-4 pb-2">
                <h2 class="text-lg font-medium"><%=course.title%>></h2>
                <p class="text-gray-500"><%=course.code%></p>
            </div>
        </div>
    </a>
    <%}); %>
</div>
</html>