<aside class="sidebar menu p-4 shadow-lg bg-base-100 w-64">
    <ul id="course-tabs">
        <% for (let i = 0; i < courseTabs.length; i++) { %>
            <li class="menu-item mb-2">
                <a href="#"><%=courseTabs[i].tab_name%></a>
            </li>
        <% } %>
        <% if (role === "teacher") { %>
            <a href="/create/coursetab"><ion-icon name="add-outline">Add Content</ion-icon></a>
        <% }%>
    </ul>
</aside>
